.avatar {
    /* width: 100%; */
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
    position: relative;
    
  }

  .user {
    height: 160px;
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
  /* background: url(../../assets/img/cloud.png) center no-repeat; */
  background-size: cover;
  background-position-y: 0px;
}