.editform_main {
  display: flex;
  flex-direction: column;
}

.editform_input {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.editform_input:focus {
  border-bottom: 1px solid #777;
}
.editform_textarea {
  min-height: 9em;
  outline: none;
  resize: none;
  margin-bottom: 10px;
  border: none;
}
.editform_textarea::-webkit-scrollbar {
  width: 5px;
}
.editform_textarea::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}
.editform_input:focus,
.editform_textarea:focus {
  color: blue;
}

.editform_input,
.editform_textarea {
  font-family: "Source Code Pro", monospace, sans-serif;
  width: 100%;
  padding: 5px 10px;
}