.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 0 50px;
  background-color: #eff2f7;
  font-family: "Nunito Sans", sans-serif;
}
.posts__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  align-items: center;
}
.posts__title {
  font-size: 32px;
  font-weight: bold;
}

.posts__empty {
  background-color: #eff2f7;
  text-align: center;
  font-size: 24px;
  padding: 200px 0;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 900px) {
  .posts {
    grid-template-columns: none;
    min-width: 100%;
    padding: 0;
  }
}
@media (max-width: 1500px) and (min-width: 900px) {
  .posts {
    grid-template-columns: 1fr 1fr;
    min-width: 100%;
    padding: 0;
  }
}
