/* .form_main:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  
} */
.form_main {
  text-align: center;

  /* display: flex; */
  /* align-items: center; */
  /* height: 100%;
  width: 100%; */
  position: fixed;
  left: 0;
  background: #4747473d;
  /* filter: grayscale(50%); */
  /* backdrop-filter: blur(1px); */
  /* background: #ccc url(https://source.unsplash.com/random/1980x1080/?nature) center
  no-repeat; */
  /* opacity: 0.5; */
  /* backdrop-filter: blur(5px); */
  /* text-align: center; */
  /* width: 500px; */
  /* height: 90%; */

  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;

  padding: 300px 100px;
 
}
.form_container {
  /* border-radius: 7px; */
  font-family: "Cousine", monospace;
  /* display: flex;
    flex-direction: column; */
  width: 500px;
  /* min-height: 150px; */
  background: #fff;
  /* top: -200px; */
  /* display: block; */

  /* position: relative;
  display: inline-block; */
  /* vertical-align: middle; */
  /* top: -10%; */
  margin: 0 auto;


  /* position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    z-index: 1;
    transform: translateY(-50%); */
  /* background: #ccc url(https://source.unsplash.com/random/500x400/?nature) center
    no-repeat; */
}
.form_img {
  width: 100%;
  
  height: 160px;
  /* border-radius: 8px; */
  background-color: #ccc;

  object-fit: cover;
  display: block;
  margin: 0 auto;
  /* border-radius: 10px; */
  border: 1px solid #ccc;
  /* border-bottom: 3px solid #ccc; */
  box-shadow: 0 4px 5px 0  #00000017;
}
textarea {
  resize: none;
}

.form_input,
.form_textarea {
  font-family: "Cousine", monospace;
  /* font-family: 'Poiret One', cursive; */
  /* font-weight: 800; */
  width: 100%;
  padding: 5px 20px;
  font-size: 20px;
  outline: none;
  border: none;
  /* margin: 5px 0; */
  /* text-transform: capitalize; */
}
.form_textarea:first-letter {
  /* text-transform: uppercase; */
  color: blue;
}
.form_textarea {
  /* text-transform: capitalize; */
  /* border-bottom: 1px solid #ccc; */
  /* border-top: 1px solid #ccc; */
  font-style: italic;
}

.form_container .form_input {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  color: blue;
  margin: 10px 0;
  /* letter-spacing: 2px; */
  /* border-bottom: 2px solid #8f8f8f; */
  border-bottom: 2px solid #e7e7e7;
}

.form_container .form_input,
.form_textarea {
  padding: 0 80px;
}
.form_input:focus {
  border-bottom: 2px solid #000;
}
.form_upload {
  margin-bottom: 10px;
}
.form_button {

  /* display: flex;
  justify-content: end;
  align-items: center;
  background-color: #888888;
  color: #fff;
  right: 0;
  margin: auto;
  text-transform: lowercase;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer; */


  /* color: #fff; */
  display: flex;
  /* justify-content: center;
  text-align: center; */
  /* width: 60px; */
  /* width: 100%; */
  
 
  cursor: pointer;
  align-items: center;
  text-align: center;
   color: #000;
  background-color: #fff;
  /* border-radius: 40px; */
  /* padding: 10px 10px; */
  transition: 0.2s linear;
  margin:  auto;
  margin-right: 0;
  margin-bottom: 10px;
  font-size: 40px;
}
.form_icon svg{
  width:1.2em;
  height:1.2em;
}
.form_button{
  border: none;
}

/* .btn--dowm {
  border-radius: 0 0 7px 7px;
}

.btn--up {
  border-radius: 7px 7px 0 0;
} */
@media (max-width: 950px) {
  .form_main:before {
    content: "";
    display: inline-block;
    height: 100%;
  }
  .form_main {
    text-align: center;

    /* display: flex; */
    /* align-items: center; */
    height: 0;
    width: 100%;

    position: fixed;
    /* left: 0; */
    /* top: 0; */
    top: 0;
    margin: aut0o;
    left: 0;
    /* right: 10%; */
    /* z-index: 10; */
    transform: none;
    z-index: 1;

    /* padding: 250px 100px; */
  }
}
