.button_more {
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #4c6fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  width: auto;
  text-decoration: none;
}
.button_more:hover {
  color: #4c6fff;
}
.description__title {
  color: #788d9b;
  font-weight: 500;
  padding-left: 5px;
}

.button_arrow {
  margin-left: 5px;
  font-size: 12px;
}
