.article {
  display: flex;
  flex-direction: column;
  padding: 35px;
  min-height: 400px;

  

  justify-content: space-between;
  


  /* height: 400px; */

  /* height: 100%; */
  /* position: relative; */
  /* width: 80%; */
  /* margin: 15px 0; */
  /* height: 100%; */
  /* overflow: hidden; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* padding: 10px 0; */

  /* background-position: center; */
  /* Make the background image cover the area of the <div>, and clip the excess */
  /* padding: 0 40px 0  0; */
  /* margin: 0 55px 0  0 ; */
  /* margin: 15px 0; */
  /* min-width: 20%;  */
  /* align-items: center; */
  /* align-items: center; */
  transition: 0.1s ease;
  /* transform-origin: 50% 50%; */
}

.article__main {
  background: none;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

/* .article:first-child { */
  /* padding: 20px 50px; */
/* } */

.article:hover {
  transform: scale(1.003);
  font-size: 20px;
  width: 100%;
  /* height: 100%; */
}
/* .edit--article {
  transform: scale(1.05);
} */

.article__container {
  background: #cecece5d;
  
  border-radius: 8px;

}

.article__img {
  
   /* width: 240px; */
  width: 100%;
  height: 160px;
  border-radius: 8px;


  /* border: 1px solid #ccc; */

  object-fit: cover;
  display: block;
  margin: 0 auto;
  /* filter: opacity(95%); */
  
  /* filter: blur(1px); */
 
}

.posts__item:first-child .article__img {
  
  /* width: 100%; */
  /* width: 600px; */

  /* width: 630px; */

  width: 100%;
  /* border-radius: 0px; */

  /* margin:  0 auto; */

  /* height: 360px; */
}

.article__title {
  text-align: center;
  padding: 15px 0 5px 0;
  font-size: 21px;
}



/* .like {
  fill: black;
  margin: 10px;
} */
.like__on {
  fill: red;
}
.like:hover {
  margin-right: 0;
  /* background-color:red; */
  fill: #ff0404;
}

.like__btn {
  z-index: 1;
  padding: 0;

  /* font-size: 16px; */
  width: 35px;
  margin-left: auto;
  margin: -20px 20px 5px auto;
  display: block;
  /* display: flex;
  position: left; */
  /* background-color: #4CAF50;  */
  border: none;
  background-color: transparent;
  /* padding: 15px 15px; */
  cursor: pointer;
  /* text-align: center;
  text-decoration: none; */
  /* display: inline-block; */
  /* font-size: 16px; */
}

/* .like__btn svg {
  width: 25px;
  height: 25px;
} */
.article_btns {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  
  /* width: 200px; */
  /* border-radius: 0px; */
  /* height: 30px; */
  /* margin: 5px; */
  /* background-color: #01b0ef; */
  border-radius: 8px;
  color: #fff;

  margin: auto auto 0 auto; 

}

.btn {
  /* margin-top: 15px; */

  display: flex;
  justify-content: center;
  text-align: center;
  width: 47%;
  /* font-size: 12px; */
  /* font-weight: bold; */
  height: 45px;
  cursor: pointer;
  align-items: center;
  background-color: #fff;
  /* font-size: 16px; */
  border-radius: 10px;
  transition: 0.2s linear;
}
.btn:hover {
  /* box-shadow: 0 0 15px 5px #00000028; */
  color: #000;
  background-color: #eeeeee;
  
}
@media (max-width: 950px) {
  .article__img {
    width: 100%;
    height: 160px;
    border-radius: 8px;
  
    object-fit: cover;
    /* display: block; */
    /* margin: 0 auto; */
  }
  
.posts__item:first-child .article__img {
  /* width: 100%; */
  /* width: 600px; */
  width: 100%;
  margin-left: 0;
  height: 160px;
}

}