footer span {
    color: #01b0ef;
    font-size: inherit;
}
.footer  {

    display: flex;
    align-items: center;
    
    
    font-size: 36px;
    font-weight: 600;
    width: 100%;
    

    padding:  15px 0 15px 0;
    white-space: nowrap;
   
    
}

.footer:after {
    margin: 0 0 0 15px;

    width: inherit;
    height: 60px;
    background: #01b0ef;
    content: "";
    
    border-radius: 8px;
    
}

.footer:before {
    margin: 0 15px 0 0;

    width: inherit;
    height: 60px;
    background: #01b0ef;
    content: "";
    
    border-radius: 8px;
    
}