.account__form {
  margin: 50px 50px 15px 50px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  background-color: #fff;
  border-radius: 10px;
}
.account__container:first-child {
  border: none;
}
.account__container {
  padding: 30px;
  border-left: 1px solid #ccc;
  text-align: center;
}
.account__avatar {
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  object-fit: cover;
}
.account__name {
  padding: 25px 0 0 0;
  font-size: 20px;
  font-weight: 600;
  color: #292a2f;
}
.account__email {
  color: #888;
}
.account__title {
  text-align: left;
  font-size: 26px;
  font-weight: 700;
}

.account__subtitle {
  font-size: 13px;
  color: #a0a0a0;
  text-align: left;
  margin-bottom: 10px;
}
.account__item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.account__item:first-child {
  margin: 0 0 20px 0;
}

.account__field {
  text-align: left;
  font-size: 16px;
}
.ant-typography pre {
  margin: 0em 0;
}

.ant-input {
  padding: 0.4em 0.6em;
}
@media (max-width: 950px) {
  .account__form {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .account__container {
    padding: 30px;
    border-left: none;
  }
}
