.App {
  text-align: left;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
}

input,
button {
  padding: 5px;
  outline: none;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 0 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  margin: 0 0 0 300px;
  background-color: #eff2f7;
}

.btn__group {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  right: 0;
  color: #000;
  margin: auto 0 0 auto;
}

.btn {
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 20%;

  font-size: 12px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  color: #666666;
  background-color: #fff;
  padding: 20px 0 20px 0;
  transition: 0.2s linear;
}
.btn:last-child {
  border-radius: 0 0 10px 0;
}
.btn:hover {
  color: crimson;
  box-shadow: 7px 7px 9px 0 #00000017;
}

.like__icon:hover {
  margin-right: 0;
  transform: scale(1.1);
  transition: 0.15s linear;
}

.like__btn {
  z-index: 1;
  padding: 0;
  width: 35px;
  margin-left: auto;
  margin: -20px 20px 0 auto;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 950px) {
  .container {
    padding: 0 15px;
    margin: 0;
  }
}
